@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

#root {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  text-align: center;
  font-family: roboto;
  color: black;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

.pageBody {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgb(245, 245, 245)
}

.pageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: fit-content;
  background-color: rgb(245, 245, 245)
}

.header {
  width: 100%;
  justify-self: start;
  color: rgb(240, 240, 240);
  background-color: rgb(0, 0, 0);
  width: 100%;
  display: flex;
  justify-content: center;
}

.navbarContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1200px;
}

.navbar {
  justify-self: center;
  display: flex;
  width: 100%;
  height: 75px;
  background-color: rgb(0, 0, 0);
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.navbar li {
  margin: 1rem;
  padding: 0;
  display: flex;
  align-items: center;
}

.logoIcon {
  width: 30px;
  height: 30px;
}

.shoppingCart {
  position: relative;
  width: fit-content;
}

.myOrdersAndCartContainer {
  display: flex;
  gap: 0.5rem;
}

.cartIcon {
  width: 24px;
  height: 24px;
}

.myOrdersIcon {
  width: 36px;
  height: 36px;
}

.cartBadge {
  position: absolute;
  top: 10px;
  right: -10px;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 2px 3px;
  font-size: 0.7rem;
  font-weight: bold;
  line-height: 1;
  min-width: 14px;
  text-align: center;
}

.logoText {
  color: rgb(255, 255, 255);
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0.5rem;
}

/* SearchBar */
.searchBar {
  display: flex;
  align-items: center;
}

.searchBar form {
  background-color: rgb(241, 240, 240);
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

.searchBarInput {
  height: 75%;
  width: 400px;
  background-color: rgb(241, 240, 240);
  border-radius: 10px;
  outline: none;
  border: none;
}

.searchIcon {
  width: 20px;
  height: 20px;
}

.pageContentContainer {
  height: 100%;
  width: 100%;
}

.sectionsContainer {
  display: flex;
  width: 100%;
  max-width: 800px;
  list-style: none;
  justify-content: space-around;
  padding-bottom: 0;
  margin-bottom: 0;
  /* height: 50px; */
}

.gameGenreItem {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  cursor: pointer;
}

.sectionsContainer li:hover {
  background-color: #5a0b6e;
}

.mainParagraph {
  color: rgb(13, 13, 70);
  font-style: italic;
  font-size: 1.5rem;
}

.footer {
  justify-self: end;
  color: black;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.footerContainer {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  width: 90%;
  padding-left: 2rem;
  padding-right: 2rem;
}

.paymentMethodsBar {
  background-color: white;
  display: flex;
  height: 60px;
  width: 100%;
  align-items: center;
  padding: 0;
  border-top: 1px solid rgb(228, 227, 227);
  border-top: 1px solid rgb(228, 227, 227);
}

.paymentMethodsList {
  display: flex;
  height: fit-content;
  list-style: none;
  gap: 1rem;
  padding: 0;
  margin: 0;
}

.paymentMethodsLogo {
  width: 45px;
  height: 45px;
}

.aboutAndOthersSection {
  display: flex;
  justify-content: start;
  gap: 3rem;
  padding-top: 2rem;
  border-top: 1px solid rgb(228, 227, 227);
  border-top: 1px solid rgb(228, 227, 227);
}

.aboutAndOthersContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
}

.aboutSubmenuTitle {
  font-weight: bold;
  font-size: 0.75rem;
}

.aboutSubmenuList {
  list-style: none;
  height: fit-content;
  padding: 0;
}

.aboutSubmenuItem {
  color: rgb(133, 132, 132);
  font-size: 0.65rem;
  margin-bottom: 5px;
  justify-self: left;
}

.privacyPolicyContainer {
  display: flex;
  justify-content: left;
  font-size: 0.60rem;
  color: rgb(133, 132, 132);
  padding-top: 2rem;
  border-top: 1px solid rgb(228, 227, 227);
  border-top: 1px solid rgb(228, 227, 227);
}

.gameCardsContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 2.5rem;
  background-color: rgb(245, 245, 245);
}

.gameCard {
  display: flex;
  flex-direction: column;
  width: 150px;
  /* min-height: 400px; */
  height: 400px;
  background-color: white;
  border-radius: 1rem;
  justify-content: space-between;
  align-items: center;
}

.gameCardDataContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.4rem;
  padding-top: 0;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  padding-bottom: 0.4rem;
  height: 180px;
  overflow: hidden;
}

.gameImageContainer {
  margin: 0;
  padding: 0;
}

.gameCoverImage {
  width: 150px;
  height: 250px;
  border-radius: 1rem;
  object-fit: cover;
}

.gamePlatformIcon {
  width: 18px;
  height: 18px;
}

.gamePlatformTitle {
  font-size: 0.75rem;
}

.gameAvailability {
  color: green;
  font-size: 0.65rem;
}

.gamePlatformContainer {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.gameTitle {
  font-size: 0.85rem;
  font-weight: bold;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  /* -webkit-line-clamp: 2; */
  overflow: hidden;
  text-overflow: ellipsis;
}

.gamePricingContainer {
  margin-top: 15px;
  gap: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.gamePrice {
  font-weight: bold;
}

.addToCartIcon {
  margin-right: 5px;
  width: 25px;
  height: 25px;
  border-radius: 50px;
  background-color: rgb(214, 214, 214);
  padding: 5px;
  cursor: pointer;
  transition: transform 0.25s ease;
}

.addToCartIcon:hover {
  background-color: aqua;
  transform: scale(1.08);
}


/* CART SECTION */
.cartOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0);
  opacity: 0;
  transition: opacity 0.25s ease-out;
  pointer-events: none;
  z-index: 900;
}

.cartOverlay.open {
  background: rgba(0, 0, 0, 0.45);
  opacity: 1;
  pointer-events: all;
}

.cartDrawer {
  position: fixed;
  top: 0;
  right: -350px;
  width: 350px;
  height: 100vh;
  background: #fff;
  box-shadow: -4px 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  transition: right 0.35s ease-in-out;
  z-index: 1000;
}

.cartDrawer.open {
  right: 0;
}

.cartHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid #eee;
}

.closeBtn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0.25rem;
}

.cartItems {
  flex: 1;
  overflow-y: auto;
  padding: 1rem;
}

.cartItem {
  display: flex;
  gap: 1rem;
  /* margin-bottom: 1rem; */
  padding: 0.35rem;
  align-items: center;
  border-radius: 0.35rem;
  border-top: 1px solid rgb(212, 212, 212);
}

.cartItem:hover {
  background-color: #f3f3f3dc;
}

.cartItemImage {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 6px;
}

.itemName {
  font-size: 0.95rem;
  font-weight: 500;
  width: 210px;
  height: 25px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: start;
}

.cartItemDataContainer {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.cartItemDataContainer p {
  padding: 0;
  margin: 0;
}

.itemPrice {
  color: #555;
  font-size: 0.9rem;
  font-weight: bold;
}

.itemNumOfCopies {
  color: #555;
  font-size: 0.85rem;
}

.deleteCartItemIcon {
  margin-right: 5px;
  /* align-self: flex-start; */
  width: 20px;
  height: 20px;
  cursor: pointer;
  transition: transform 0.25s ease;
}

.deleteCartItemIcon:hover {
  transform: scale(1.15);
}

.emptyCart {
  text-align: center;
  color: #666;
  margin-top: 2rem;
}

.cartFooter {
  padding: 1rem;
  border-top: 1px solid #eee;
}

.subtotal {
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.checkoutBtn {
  width: 100%;
  background: #111;
  color: white;
  padding: 0.75rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1rem;
  transition: background 0.2s ease;
}

.checkoutBtn:hover {
  background: #333;
}

.gameFiltersContainer {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

.gameFilterContainer {
  background-color: #cccbcb;
  color: #5a5a5a;
  font-size: 0.75rem;
  border-radius: 1rem;
  padding-right: 1rem;
  padding-left: 1rem;
  padding-top: 0.45rem;
  padding-bottom: 0.45rem;
  border: none;
  font-weight: bold;
  width: fit-content;
  cursor: pointer;
}

.gameFilterContainer-active {
  background-color: #cccbcb;
  color: #73128b;
  font-size: 0.75rem;
  border-radius: 1rem;
  padding-right: 1rem;
  padding-left: 1rem;
  padding-top: 0.45rem;
  padding-bottom: 0.45rem;
  border: none;
  font-weight: bold;
  width: fit-content;
  cursor: pointer;
}

.gameFilterContainer:hover {
  color: black;
}

.outletContainer {
  background-color: rgb(245, 245, 245);
  display: flex;
  height: 100%;
  width: 100%;
  max-width: 1200px;
  padding: 1rem;
  padding-top: 2rem;
  background-color: red;
}

/* ABOUT US Page */
.aboutUsPageContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.aboutUsHeaderSection,
.contactUsHeaderSection {
  display: flex;
  flex-direction: column;
  width: 90%;
  padding: 1.5rem;
  align-items: flex-start;
  gap: 0;
}

.aboutUsHeaderSection h1 {
  text-transform: capitalize;
  text-align: left;
  text-justify: auto;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  font-size: 1rem;
  margin-top: 2rem;
  margin-left: 30px;
  margin-right: 15px;
  letter-spacing: 0.5px;
}

.aboutUsHeaderSection h2 {
  text-align: left;
  text-justify: auto;
  font-size: 1.5rem;
  width: 100%;
  max-width: 525px;
  margin-left: 30px;
  margin-right: 15px;
  letter-spacing: 0.5px;
}

.aboutUsHeaderSection p {
  display: block;
  font-size: 0.95rem;
  font-weight: normal;
  text-align: left;
  text-justify: auto;
  width: 100%;
  max-width: 450px;
  margin-left: 30px;
  margin-right: 15px;
  letter-spacing: 0.5px;
}

.aboutUsBulletPointsContainer {
  display: flex;
  width: 100%;
  /* padding: 1.5rem; */
  gap: 2rem;
  height: 250px;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  justify-content: space-around;
  margin-bottom: 6rem;
}

.aboutUsBulletPointIcon {
  width: 75px;
  height: 75px;
}

.aboutUsBulletPoint {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin: 20px;
}

.aboutUsBulletPoint span {
  font-size: 0.85rem;
  color: #333;
  font-weight: bold;
}

/* CONTACT US Page */
.contactUsContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.contactUsHeader {
  text-transform: capitalize;
  text-align: left;
  text-justify: auto;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  font-size: 1rem;
  margin-top: 2rem;
  margin-left: 30px;
  margin-right: 15px;
  padding-bottom: 30px;
  letter-spacing: 0.5px;
  border-bottom: 1px solid rgb(216, 216, 216);
}

.contactUsMethodContainer {
  margin-bottom: 20px;
}

.contactUsMethodContainer h3 {
  text-align: left;
  font-size: 1rem;
  margin-left: 20px;
  margin-top: 25px;
}

.contactEmailParagraph {
  text-align: left;
  font-size: 0.85rem;
  margin-left: 20px;
  color: #e4a112;
  font-weight: bold;
}

.contactUsMethodParagraph {
  text-align: left;
  font-size: 1rem;
  margin-left: 20px;
  color: #6b6b6b;
}

/* Loading Page Component */
.loadingPageMessage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  min-height: 800px;
}


/* HOW TO BUY Page */
.howToBuyPageContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.howToBuySection {
  display: flex;
  flex-direction: column;
  width: 90%;
  padding: 1.5rem;
  align-items: center;
  justify-content: center;
  gap: 0;
}

.howToBuySectionContainer {
  width: 100%;
  border-bottom: 1px solid rgb(224, 224, 224);
}

/* MY ORDERS Page */
.myOrdersPageContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.ordersContainer {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 1rem;
}

.orderCardContainer {
  display: flex;
  width: 100%;
  gap: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  /* border-bottom: 1px solid rgb(226, 226, 226);
  border-top: 1px solid rgb(204, 204, 204); */
}

.orderCardContainer:hover {
  background-color: white;
}

.orderCardData {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  width: 100%;
  padding: 0.5rem;
}

.orderCardImage {
  width: 75px;
  height: 125px;
  border-radius: 0.5rem;
}

.orderPlatformContainer {
  display: flex;
  width: fit-content;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.orderPrice, .orderTotal {
  font-weight: normal;
  font-size: 0.85rem;
  color: rgb(102, 102, 102);
  letter-spacing: 0.5px;
}

.refundGameButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: inherit;
  width: 130px;
  height: 100%;
  font-size: 0.75rem;

}

.refundGameButton:hover {
  border: none;
  background-color: #bdbdbd;
}

.myOrdersBadge {
  position: absolute;
  top: 15px;
  right: -10px;
  color: white;
  border-radius: 50%;
  padding: 2px 3px;
  font-size: 0.7rem;
  font-weight: bold;
  line-height: 1;
  min-width: 14px;
  text-align: center;
}

.ordersHeader {
  text-align: left;
  font-size: 1.5rem;
  width: 100%;
  font-style: italic;
  color: #575656;
}

@media (max-width: 540px) {

  .pageContentContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

.outletContainer {
  background-color: rgb(245, 245, 245);
  display: flex;
  height: 100%;
  width: 90%;
}

  .searchBar {
  width: 65px;
}

.searchBarInput {
  width:50px;
}

.sectionsContainer {
  width: 90%;
  padding: 0;
}

.sectionsContainer li {
  width: 15px;
  font-size: 0.75rem;
}

.gameCardsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  height: fit-content;
}

.gameCard {
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  /* flex-wrap: wrap; */
}

.gameFiltersContainer {
  width: 100%;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.gameFilterContainer, .gameFilterContainer-active {
  font-size: 0.65rem;
  color: black;
  width: fit-content;
  padding: 0.25rem;
}

.dataWithoutPricingContainer {
  text-align: left;
}

.gamePlatformContainer {
  display: flex;
  justify-content: left;
}

.gameCardDataContainer {
  width: 100%;
}

.gamePricingContainer {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.gameCoverImage {
  height: 200px;
}

.aboutUsHeaderSection {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.aboutUsBulletPointsContainer {
  width: 100%;
  height: fit-content;
  padding: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.aboutUsBulletPoint {
  width: 90px;
  padding: 0;
}
}